*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(155, 155, 155);
    display: flex;
    flex-direction: column;
    
    
}

.mainh1{
    align-self: center;
    border: solid 1px black;
    
    
}

.japanflag{

border: solid black 1px;
width: 18rem;
height: 10rem;
background-color: rgb(255, 255, 255);
display: flex;
align-self: center;
justify-content: center;
align-items: center;
margin-top: 15px;

}

.flag-item{
    width: 6rem;
    height: 6rem;
    background-color: rgb(188, 0, 45);
    border-radius: 50%;
        
}

.menu-even{
    margin-top: 10px;
    border: solid 1px black;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    flex-grow: 1;
    

}

.menuitem{
    border: solid black 1px;
    width: 100%;
    height: auto;

}

.menu-side{
    max-width: 100vw;
    height: auto;
    margin-top: 10px;
    border: solid 1px black;
    display: flex;
    justify-content: end;
    padding: 5px;
    flex-direction: row-reverse;
    
  

}


.menuside{
    border: solid black 1px;
    width: 10rem;
    height: 2rem;
    background-color: azure;
    

}

.menuside:nth-of-type(1){
    color: aqua;
    background-color: bisque;
    order: 1;
    margin: 0 auto 0 0;
    
     
}

.menuside:nth-of-type(2){
    background-color: blueviolet;
    
    
}
.menuside:nth-of-type(3){
    background-color: rgb(190, 128, 248);
    
}
.menuside:nth-of-type(4){
    background-color: rgb(208, 164, 250);
    
}
.menuside:nth-of-type(5){
    background-color: rgb(231, 206, 255);
    
}




.menu-side-login{
    max-width: 100vw;
    height: 3rem;
    margin-top: 10px;
    border: solid 1px black;
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex: 1;
    
}



.menuside-login{
    border: solid black 1px;
    width: 10rem;
    height: 2rem;
    background-color: azure;

}

.menuside-login:nth-of-type(1){
    
    color: aqua;
    background-color: bisque;
    order: 1;
    margin: 0 0 auto 0;
}

.menuside-login:nth-of-type(2){
    background-color: blueviolet;
      order: 2;
      margin: 0 0 auto auto;
    
      
}
.menuside-login:nth-of-type(3){
    background-color: rgb(190, 128, 248);
    order: 3;
    margin: 0 0 auto 0;
}
.menuside-login:nth-of-type(4){
    background-color: rgb(208, 164, 250);
    order: 4;
    margin:  0 0 auto 0;
}
.menuside-login:nth-of-type(5){
    background-color: rgb(231, 206, 255);
    order: 5;
    margin: 0 0 auto 0;
}
.menuside-login:nth-of-type(6){
    background-color: rgb(107, 175, 231);
    order: 6;
    margin:0 0 auto auto;
    

}

.fibonacci{
    border: solid black 1px;
    display: flex;
    
    

}

.fibonacci-items{
    width: 4rem;
    height: auto;
    background-color: aquamarine;
    flex: 1;
    
}

.fibonacci-items:nth-of-type(1){
    flex: 0;
    background-color: rgb(10, 248, 169);
}
.fibonacci-items:nth-of-type(2){
    flex: 1;
    background-color: rgb(8, 206, 140);
}
.fibonacci-items:nth-of-type(3){
    flex: 1;
    background-color: rgb(8, 206, 140);
}
.fibonacci-items:nth-of-type(4){
    flex: 2;
    background-color: rgb(9, 184, 125);
}
.fibonacci-items:nth-of-type(5){
    flex: 3;
    background-color: rgb(7, 136, 93);
}
.fibonacci-items:nth-of-type(6){
    flex: 5;
    background-color: rgb(5, 119, 81);
}
.fibonacci-items:nth-of-type(7){
    flex: 8;
    background-color: rgb(2, 83, 56);
}
.fibonacci-items:nth-of-type(8){
    flex: 13;
    background-color: rgb(2, 87, 59);
}
.fibonacci-items:nth-of-type(9){
    flex: 21;
    background-color: rgb(2, 77, 52);
}
.fibonacci-items:nth-of-type(10){
    flex: 34;
    background-color: rgb(7, 173, 118);
}

.fibonacci-reverse{
    display: flex;
    flex-direction: row-reverse;
}


.card-container{
    width: 20rem;
    height: 30rem;
    
    background-color: antiquewhite;
    margin: auto;
    margin-top: 10rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    box-shadow: 8px 10px 5px 0px rgba(0,0,0,0.75);
    
 
    
    
}

.card-item{
    margin-top: 8rem;
    
    width: fit-content;
    height: fit-content;
    padding: 1.5rem;
    
}

figcaption{
    text-align: center;
}

.scroller-dots{

    display: flex;
    gap: 1rem;
    margin-top: 5rem;
}

.item-dot{
 
    width: 1rem;
    height: 1rem;
    border-radius: 50%;

}

.item-dot:nth-of-type(1){
    background-color: rgb(49, 49, 49);
}
.item-dot:nth-of-type(2){
    background-color: rgb(82, 80, 80);
}
.item-dot:nth-of-type(3){
    background-color: rgb(112, 111, 111);
}


.margret-container{
    width: 20rem;
    height: 30rem;
    background-color: antiquewhite;
    margin: auto;
    margin-top: 10rem;
    margin-bottom: 10rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    box-shadow: 8px 10px 5px 0px rgba(0,0,0,0.75);
    padding: 2rem;
}

.margaret-img{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    object-fit: cover ;
    margin-top: 6rem;
    
    
}

.tellmemore{
    width: 10rem;
    height: 2rem;
    border-radius: 30px;
    border: none;
    box-shadow: 8px 10px 5px 0px rgba(0,0,0,0.40);
    background-color: bisque;
    color: rgb(77, 77, 77);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
}



.gamecard-container{
    width: 20rem;
    height: 30rem;
    background-color: rgb(245, 240, 234);
    margin: auto;
    margin-top: 10rem;
    margin-bottom: 10rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    box-shadow: 8px 10px 5px 0px rgba(0,0,0,0.75);
    padding: 2rem;
}

.heart-top{
    font-size: 1.5rem;
    align-self: flex-start;
    color: rgb(197, 2, 2);
       
}

.heart-top p{
    color: black;
}

.reverse-heart{
    font-size: 1.5rem;
    align-self: flex-end;
    transform: rotate(180deg);
    color: rgb(197, 2, 2);
    
}

.reverse-heart p{
    color: black;
}

.middle-heart{
    font-size: 4rem;
    color: rgb(197, 2, 2);
    
}

